<a href="https://colab.research.google.com/github/fereshtehdehkhoda/Example-29-Pearson-correlation/blob/main/soale_10_S7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [ ]:
data=pd.read_csv('soale 10 S7.csv')

In [ ]:
data.head()

       x      y
0   9.45  23.71
1   8.85  17.19
2   8.01  15.20
3  11.79  22.48
4   7.35  14.06

In [ ]:
data[['x','y']].corr(method='pearson')

          x         y
x  1.000000  0.821944
y  0.821944  1.000000